kitename   = {{ .C.Name }}
kitesecret = {{ .C.Secret }}

##[ Front-end settings: use pagekite.net defaults ]##
defaults

##[ Back-ends and local services ]##
{{- $s := .S }}
{{- $hs := .Hs }}
{{- range $index, $port := .S.Spec.Ports }}

{{- $proto := "" }}
{{- if eq $port.Port 80 }}
{{- $proto = "http" }}
{{- else if eq $port.Port 443 }}
{{- $proto = "https" }}
{{- end }}

{{- $targetPort := $port.Port }}

### kite
service_on  = {{ $proto }}:@kitename                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:{{ $targetPort }}    : @kitesecret

### CNAME
{{- range $host := $hs }}
service_on  = {{ $proto }}:{{ $host }}                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:{{ $targetPort }}    : @kitesecret
{{- end }}

{{- end }}
##[ Miscellaneous settings ]##
savefile = /root/.pagekite.rc

###[ End of pagekite.py configuration ]#########
END
