kitename   = {{ .C.Name }}
kitesecret = {{ .C.Secret }}

##[ Front-end settings: use pagekite.net defaults ]##
defaults

##[ Back-ends and local services ]##

{{- range $index, $ingress := .I.Resources }}
## {{ $ingress.Name }} start ##
{{- range $index, $rules := $ingress.Spec.Rules }}
service_on  = http:@kitename                   : {{ $rules }}:1000    : @kitesecret
{{- end }}
## {{ $ingress.Name }} end ##
{{- end }}
##[ Miscellaneous settings ]##
savefile = /root/.pagekite.rc

###[ End of pagekite.py configuration ]#########
END
