kitename   = {{ .C.Name }}
kitesecret = {{ .C.Secret }}

##[ Front-end settings: use pagekite.net defaults ]##
defaults

##[ Back-ends and local services ]##
{{- $s := .S }}
{{- $hs := .Hs }}
{{- range $index, $port := .S.Spec.Ports }}
{{- if eq $port.TargetPort.StrVal "http" }}
service_on  = http:@kitename                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:80    : @kitesecret
{{- range $host := $hs }}
service_on  = http:{{ $host }}                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:80    : @kitesecret
{{- end }}
{{- end }}
{{- if eq $port.TargetPort.StrVal "https" }}
service_on  = https:@kitename                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:443    : @kitesecret
{{- range $host := $hs }}
service_on  = https:{{ $host }}                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:443    : @kitesecret
{{- end }}
{{- end }}
{{- if not $port.TargetPort.StrVal }}
service_on  = http:@kitename                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:{{ $port.TargetPort.IntVal }}    : @kitesecret
{{- range $host := $hs }}
service_on  = http:{{ $host }}                   : {{ $s.Name }}.{{ $s.Namespace }}.svc.cluster.local:{{ $port.TargetPort.IntVal }}    : @kitesecret
{{- end }}
{{- end }}
{{- end }}
##[ Miscellaneous settings ]##
savefile = /root/.pagekite.rc

###[ End of pagekite.py configuration ]#########
END
